@foreach (var manga in mangas)
{
    <div class="col-md-3 mb-2">
        <a href="/MangaDetails/@manga.Id">
            <div class="card">
                <img class="img-fluid" src="@manga.Image" />
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @manga.Title
                        @manga.Price.ToString("c")
                    </h5>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter] public IEnumerable<MangaDTO>? mangas { get; set; }
}
